{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="{% static 'content/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="icon" 
      type="image/png" 
      href="{% static 'imgs/pawprint.png' %}" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Cadastrando Fornecedor</h5>
            
            <!-- Comeca aki ################################################## -->
            <form class="form-signin" action="" method="POST"> 
            {% csrf_token %}
              <div class="form-label-group">
                  {% for field in form %}
                      <div class="fieldWrapper">
                          {{ field.errors }}Form
                          {{ field.label_tag}}<br>
                          {{ field }}
                      </div>
                      <br>
                  {% endfor %}
              </div>
              <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <br>
                    <a href="{% url 'ListFornecedor' %}" class="btn btn-primary">Listar</a>
                </div>
                <div class="col-md-auto">
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-primary"/>            
                </div>
                <div class="col col-lg-2">
                     
                </div>
              </div>
            </form>
            <!-- Termina aki #########################333######### -->

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
