{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="{% static 'content/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="icon" 
      type="image/png" 
      href="{% static 'imgs/pawprint.png' %}" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>

          <div class="card-body">
            <h5 class="card-title text-center"><b>LISTANDO FORNECEDORES</b></h5> 
            <br>
            <table class="table table-bordered">
              
                <thead>
                    <tr>
                      <th><h6>NOME</h6></th>
                      <th><h6>PREÇO</h6></th>
                      <th><h6><a style="margin-left: 50px;">EDITAR</a></h6></th>
                    </tr>
                </thead>
                <tbody>
                  {% for s in servicos %}
                    <tr>
                      <td><a>{{ s.nome }}</td>
                      <td><a> {{s.preco}}</a></td>
                      <td><a href="{% url 'EditServico' pk=s.pk %}" class="btn btn-warning" style="margin-left: 50px;">✎</a></td>      
                    </tr>
                  {% endfor %}
                </tbody> 
            </table> 
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
