{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTOTIPO - SIS.PETSHOP</title>

    <link rel="icon" 
    type="image/png" 
    href="{% static 'imgs/pawprint.png' %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'content/bootstrap.min.css' %}" rel="stylesheet" />

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #26c6da;">
        <div class="navbar-header" style=" float: left; padding: 3px; text-align: center; width: 100%;">
            <a class="navbar-brand" href="{% url 'Index' %}" style="color: #f1f8e9;">
                <img alt="#" src="{% static 'imgs/petlife-logo.png' %}" width="200px">
            </a>    
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top:90px">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">O QUE DESEJA FAZER?</h1>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img" src="{% static 'imgs/registration.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR CLIENTE</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'CadCliente'%}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/pets.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR<br>PET</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'CadPet' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/funcionario.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR FUNCIONÁRIO</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="Cads/cad_Funcionario.aspx" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/servicos.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR SERVIÇOS</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'CadServico' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/estoque.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR ESTOQUE</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="Cads/cad_Estoque.aspx" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/fornecedor.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR FORNECEDOR</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'CadFornecedor' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/produtos.png' %}" alt="" width="50" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENCIAR PRODUTOS</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'CadProduto'%}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>        
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; CARLA,LUCAS,DANIEL 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
