{% load static %}

<!-- 
    vc vai ficar um pouquinho diferente depois que eu terminar
 -->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="{% static '/content/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="icon" 
      type="image/png" 
      href="{% static 'imgs/pawprint.png' %}" />
</head>

<body style="margin-top:110px">
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #26c6da;">
    <div class="navbar-header" style=" float: left; padding: 3px; text-align: center; width: 100%;">
        <a class="navbar-brand" href="{% url 'Index' %}" style="color: #f1f8e9;">
            <img alt="#" src="{% static 'imgs/petlife-logo.png' %}" width="200px">
        </a>    
    </div>
    </nav>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Data/Horário</th>
                    <th scope="col">Serviço Realizado</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Data de Retorno</th>
                    <th scope="col">Pet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">25/09/19</th>
                    <td>Tosagem</td>
                    <td>Apresenta boa saúde capilar</td>
                    <td>30/10/19</td>
                    <td>Meu bb</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>