{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" 
      type="image/png" 
      href="{% static 'imgs/pawprint.png' %}" />

    <title>PET LIFE</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'content/bootstrap.min.css' %}" rel="stylesheet" />


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #26c6da;">
        <div class="navbar-header" style=" float: left; padding: 3px; text-align: center; width: 100%;">
            <a class="navbar-brand" href="{% url 'Index' %}" style="color: #f1f8e9;">
                <img alt="#" src="{% static 'imgs/petlife-logo.png' %}" width="200px">
            </a>    
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top:90px">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">BEM-VINDO! Você é?</h1>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img" src="{% static 'imgs/img_cliente_entrar.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">CLIENTE</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'Login' 'cl' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/paciente-entrar.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">GERENTE</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'Login' 'g' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img-top" src="{% static 'imgs/divida-entrar.png' %}" alt="" width="500" height="200">
                    <div class="card-body">
                        <h4 class="card-title">VENDEDOR</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'Login' 'ca' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-70">
                    <img class="card-img" src="{% static 'imgs/medico-entrar.png' %}" alt="" width="50" height="200">
                    <div class="card-body">
                        <h4 class="card-title">VETERINÁRIO</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'Login' 'v' %}" class="btn btn-primary">ENTRAR</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Carla, Daniel, Lucas - 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>
