{% load static %}
<!--
    Os staticos (css e outros) estão no diretório petshopsys_app/static/content, sim, a pasta foi renomeada, de Content para content, se editar ou adicionar algum arquivo dentro dessas dependencias deve rodar o seguinte comando
    $ pythom manage.py colletcstatic
-->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href="{% static 'content/bootstrap.min.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>

                        <form class="form-signin" action="{% url ''%}" method="POST" >

                            <div class="form-label-group">
                                <label for="inputCPF">CPF</label>
                                <input type="cpf" id="inputCPF" class="form-control" maxlength="11" />
                                <label for="inputSenha">Senha</label>
                                <input type="password" id="inputSenha" class="form-control" maxlength="11" />
                            </div><br />

                            <a href="opcoes.aspx" class="btn btn-primary">ENTRAR</a>

                            <input type="submit" value="Login" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
