{% load static %}
<!--
    Os staticos (css e outros) estão no diretório petshopsys_app/static/content, sim, a pasta foi renomeada, de Content para content, se editar ou adicionar algum arquivo dentro dessas dependencias deve rodar o seguinte comando
    $ pythom manage.py colletcstatic
-->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href="{% static 'content/bootstrap.min.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Login</b></h5>

                        <form class="form-signin" action="" method="POST" >
                        {% csrf_token %}
                            <div class="form-label-group">
                                {% for field in form %}
                                    <div class="fieldWrapper">
                                        {{ field.errors }}
                                        {{ field.label_tag}}<br>
                                        {{ field }}
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>

                                <div class="row justify-content-md-center">
                                    <div class="col col-lg-2">
                                    </div>
                                    <div class="col-md-auto">
                                        <br>
                                        <input type="submit" value="ENTRAR" class="btn btn-primary"/>            
                                    </div>
                                    <div class="col col-lg-2">
                                    </div>
                                </div>

                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
